.Home {
    font-size: 13px;

    &-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    &-box {
        width: 100%;
        height: 90%;
        @media (min-width:768px) {
            height: 75%;
        }
    }

    &-button {
        font-size: 13px;
    }
}

input::placeholder{
    font-size: 13px;
}