<div class="Home" style="height: 100vh;">
    <div class="Home-container container m-auto" style="height: 100%;">
        <div class="Home-box Home-row row border rounded">
            <div class="Home-col d-none d-lg-block col-lg-6"></div>
            <div class="Home-col col-lg-6">
                <app-card>
                    <div class="mx-2 mx-sm-5" style="width:100%;height: 100%;">
                        <router-outlet></router-outlet>
                    </div>
                </app-card>
            </div>
        </div>
    </div>
</div>