<div class="Login" style="height: 100vh;">
    <div class="Login-container container m-auto" style="height: 100%;">
        <div class="Login-box Login-row row border rounded">
            <div class="Login-col d-none d-lg-block col-lg-6"></div>
            <div class="Login-col col-lg-6">
                <app-card>
                    <form class="Login-form mx-2" style="width:100%;">
                        <div class="mb-3">
                            <label for="email" class="form-label">Your email</label>
                            <input type="email" id="email" class="form-control" placeholder="name@gmail.com" required />
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Your password</label>
                            <input type="password" id="password" class="form-control" required />
                        </div>

                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" id="remember" required />
                            <label class="form-check-label" for="remember">Remember me</label>
                        </div>

                        <button type="submit" class="Login-button btn btn-primary w-100">Ingresar</button>
                    </form>

                </app-card>
            </div>
        </div>
    </div>
</div>