<form [formGroup]="loginForm" class="Login-form " style="width:100%;">
    <h1 class="Login-h1 mt-2 text-center">Control de pagos - Ingreso</h1>

    <div class="" style="margin-top:3rem">
        <div class="mb-3">
            <label for="email" class="form-label">Your email</label>
            <input formControlName="email" type="email" id="email" class="form-control" placeholder="name@gmail.com"
                required />
            @if(validateErrorForm("email")){
            <p class="text-danger">{{getErrors("email")}}</p>
            }
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Your password</label>
            <input formControlName="password" type="password" id="password" class="form-control" required />
            @if(validateErrorForm("password")){
            <p class="text-danger">{{getErrors("password")}}</p>
            }
        </div>

        <div class="form-check mb-3">
            <input formControlName="remember" class="form-check-input" type="checkbox" id="remember" required />
            <label class="form-check-label" for="remember">Remember me</label>
            @if(validateErrorForm("remember")){
            <p class="text-danger">{{getErrors("remember")}}</p>
            }
        </div>

        <button type="submit" class="Login-button btn btn-primary w-100 mt-md-3" (click)="login()">Ingresar</button>
    </div>

</form>