<!-- Botón para abrir el sidebar -->
<button class="btn btn-primary m-3 d-md-none" data-bs-toggle="offcanvas" data-bs-target="#sidebar">
    Abrir Menú
</button>

<!-- Sidebar -->
<div #sidebarComponent class="Sidebar offcanvas offcanvas-start show" tabindex="-1" id="sidebar">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Menú</h5>
        <button #buttonActionSidebar type="button" class="btn-close d-md-none" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
                <button class="Sidebar-button btn btn-toggle align-items-center rounded" data-bs-toggle="collapse"
                    data-bs-target="#home-collapse" aria-expanded="false">
                    Home
                </button>
                <div class="collapse" id="home-collapse">
                    <ul class="Sidebar-ul btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li class="Sidebar-li"><a href="#" class="Sidebar-a link-dark rounded">Overview</a></li>
                        <li class="Sidebar-li"><a href="#" class="Sidebar-a link-dark rounded">Updates</a></li>
                        <li class="Sidebar-li"><a href="#" class="Sidebar-a link-dark rounded">Reports</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="Sidebar-button btn btn-toggle align-items-center rounded collapsed"
                    data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                    Dashboard
                </button>
                <div class="collapse" id="dashboard-collapse">
                    <ul class="Sidebar-ul btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li class="Sidebar-li"><a href="#" class="Sidebar-a link-dark rounded">Overview</a></li>
                        <li class="Sidebar-li"><a href="#" class="Sidebar-a link-dark rounded">Weekly</a></li>
                        <li class="Sidebar-li"><a href="#" class="Sidebar-a link-dark rounded">Monthly</a></li>
                        <li class="Sidebar-li"><a href="#" class="Sidebar-a link-dark rounded">Annually</a></li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="Sidebar-button btn btn-toggle align-items-center rounded collapsed"
                    data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                    Orders
                </button>
                <div class="collapse" id="orders-collapse">
                    <ul class="Sidebar-ul btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li class="Sidebar-li"><a href="#" class="Sidebar-a link-dark rounded">New</a></li>
                        <li class="Sidebar-li"><a href="#" class="Sidebar-a link-dark rounded">Processed</a></li>
                        <li class="Sidebar-li"><a href="#" class="Sidebar-a link-dark rounded">Shipped</a></li>
                        <li class="Sidebar-li"><a href="#" class="Sidebar-a link-dark rounded">Returned</a></li>
                    </ul>
                </div>
            </li>
            <li class="border-top my-3"></li>
            <li class="mb-1">
                <button class="Sidebar-button btn btn-toggle align-items-center rounded collapsed"
                    data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                    Account
                </button>
                <div class="collapse" id="account-collapse">
                    <ul class="Sidebar-ul btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li class="Sidebar-li"><a href="#" class="Sidebar-a link-dark rounded">New...</a></li>
                        <li class="Sidebar-li"><a href="#" class="Sidebar-a link-dark rounded">Profile</a></li>
                        <li class="Sidebar-li"><a href="#" class="Sidebar-a link-dark rounded">Settings</a></li>
                        <li class="Sidebar-li"><a href="#" class="Sidebar-a link-dark rounded">Sign out</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>