.offcanvas {
    transition: transform 0.3s ease-in-out;
}

.Sidebar {

    &-a {
        text-decoration: none;
        font-size: 12.8px;
    }

    &-button {
        font-size: 12.8px;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &-ul {
        margin-left: 1.8rem;
    }
}

@media (min-width:768px) {
    .Sidebar {
        /*  height: 100vh;
        position: relative; */
        max-width: 270px;
    }
}

/* arrow logic */

.Sidebar-arrow {
    margin-left: auto;
    transition: transform 0.3s ease; // suavizo giro
    font-size: 0.5rem; // Reduce el tamaño de la flecha
    color: #525b75;
}

button[aria-expanded="true"] .Sidebar-arrow {
    transform: rotate(90deg); //girar flecha
}