<form [formGroup]="forgotForm" class="Forgot-form " style="width:100%;">
    <h1 class="Forgot-h1 mt-2">Olvidé mi contraseña</h1>

    <div class="" style="margin-top:3rem">

        <p>Ingresa el email asociado a tu cuenta y te enviaremos un correo con las instrucciones para recuperar tu
            contraseña.</p>
        <div class="mb-3">
            <label for="email" class="form-label">Tú email</label>
            <input formControlName="email" type="email" id="email" class="form-control" placeholder="name@gmail.com" />

            @if(validateErrorForm("email")){
            <p class="text-danger">{{getErrors("email")}}</p>
            }
        </div>

        <button type="submit" class="Forgot-button btn btn-success w-100 mt-md-3" (click)="sendToEmail()">Enviar email
            de recuperación</button>

        <hr class="border">
        <p class="text-info mt-3 text-center" style="cursor:pointer;" (click)="redirecToLogin()">Volver a la página del login</p>
    </div>

</form>